{% extends 'layout.html' %}

{% block content %}


<div class="container mt-3">
		
		
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 class="text-lg-center">Django | TodoApp</h2>
            <div class="mt-4 row justify-content-center">
                <div class="card w-100 mt-3">
                    <div class="card-body">
                        <a href="{% url 'tasks' %}"></a>
                        <form method="POST" action="">
                        {% csrf_token %}
                        
                        Silmek İstediğine EminMisin? "{{task}}"

                        <!-- <input type="text" class="form-control form-control-lg mb-2"> -->
                        <input type="submit" class="mt-3 btn btn-outline-success btn-lg btn-block" value="Sil">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2"></div>	

    </div>
    

</div>






{% endblock %}



